@tailwind base;
@tailwind components;
@tailwind utilities;



.cool-link {
    text-decoration: none;
    display: inline-block;
    position: relative;
  }
  
  .cool-link .bordered {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #54d5bb; 
    transition: width 0.8s;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .cool-link:hover .bordered {
    width: 100%;
    transition: width 0.8s;
  }
  

  .modal-open {
    opacity: 1;
    
  }